## Logs
*.log
*.tmp

# Linux
*~
*.swp
# KDE
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac
.DS_Store*
._*

# PHPStorm
.idea
_notes/dwsync.xml
data/en/_notes/dwsync.xml
inc/scripts/_notes/dwsync.xml
index.php.LCK
